

body {
	text-align: center;
	font-family: monospace;
	background-color: #EEE;
}

h1 {
	margin: 40px;
}

#board {
	background: url('wood.jpg');
	display: inline-block;
	padding: 52px;
	border-radius: 2px;
	box-shadow: 0px 8px 20px 0px #666;
	box-sizing: initial;
}

#authors {
	margin-top: -15px;
}

.gomoku-row {
	white-space: nowrap;
}

.case {
	width: 51px;
	height: 51px;
	display: inline-block;
	border: 1px solid #333;
}

.no-border-right {
	border-right: 0px;
}

.no-border-bottom {
	border-bottom: 0px;
}

.tile-parent {
	position: absolute;
}

.tile {
	width: 48px;
	height: 48px;
}

.winner-tile {
	border-radius: 15px;
	background-color: #ffee00;
}

.square-helper {
	width: 9px;
	height: 9px;
	position: absolute;
	background-color: #000;
}

.slider-input {
	width: 200px;
	display: inline-block;
}

.bottom-container {
	width: 600px;
	margin: 0 auto;
	margin-top: 30px;
}

.btn {
	display: inline-block;
	text-transform: inherit!important;
	margin: 15px;
}

.btn:hover {
	transform: translateY(-2px);
}

.inline-block {
	display: inline-block;
}

.player-type {
	margin: 20px;
	margin-top: 0px;
	margin-bottom: -10px;
}

.error-toast {
	background-color: #ee6e73!important;;
	margin-top: -80px!important;
}

.ok-toast {
	background-color: #26a69a!important;
	margin-top: -80px!important;
}
